/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
@font-face {
    font-family: Montserrat;
    src:url(../fonts/sans-serif/montserrat-regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: TestFont;
    src:url(../fonts/serif/robotoslab-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

html {
    font-size: 16px;
    font-family: TestFont, arial, serif;
}

body{
    margin: 1rem auto;
    width: 90%;
    min-width: 112rem;
}

header {
    border-image: linear-gradient(#0102ad, #FFF)400;
    border-bottom: 1rem solid;
    margin-bottom: 3rem;
    padding-bottom: 29rem;
}

video {
    float: right;
    padding-top: 5rem;
}

.highlight {
    color: #FFF;
    background-image: linear-gradient(#1091fc,#0102ad);
    padding-left: 2rem;
    padding-right: 2rem;
}
nav {
    font-size: 1.1rem;
    float: left;
    width: 100%;
    min-width: 112rem;
    border: .3rem solid #0102ad;
    padding: .3rem;
    border-left: 0rem;
    border-right: 0rem;
}
nav a {
    text-decoration: none;
    display: inline-block;
    width: 12rem;
    height: 1.5rem;
    text-align: center;
    padding: .35rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    border: .2rem solid #1be9fcf5;
}

nav a:focus,
nav a:hover {
    color: #0102ad;
    background-color: #1be9fcf5;
}

nav a:active {
    color: #fdff9f;
    background-color: #000;
    border-color: #000;
}

h1 {
    font-family: Montserrat, arial, sans-serif;
    float: left;
    font-size: 7rem;
    padding-top: 7rem;
    padding-left: 5rem;
}

.blog-text {
    margin: 9rem 9rem;
}

.main-section{

}

h2 {

}

h3 {

}

p {

}
